.svg-1X37T1 {

  border-radius: var(--border-radius)
}


/** ---- Avatars and Statuses ---- **/

.mask-1l8v16 img,
.avatar-VxgULZ::before {
  border-radius: var(--border-radius)

}
foreignObject[mask] {
  mask: unset;
}

